@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.layered-image {
    position: relative;
}

.layered-image img {
    height: 300px;
    width: 300px;
}

.image-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 300px;
    opacity: 1;
    animation: pulse 10s linear infinite;
}

.image-base {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.centering {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.description {
    font-weight: 100;
    margin-bottom: 10px;
    color: rgb(163, 163, 163);
}

.contact {
    font-weight: 100;
    margin: 0;
    color: rgb(208, 208, 208);
}

@media (max-device-width: 600px) {

    .layered-image {
        position: relative;
    }

    .layered-image img {
        height: 700px;
        width: 700px;
    }

    .image-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 300px;
        width: 300px;
        opacity: 1;
    }

    .title {
        font-size: 100px;
        font-weight: 500;
    }

    .description {
        margin-top: 40px;
        font-size: 43px;
    }

    .contact {
        margin-top: 10px;
        font-size: 40px;
    }
}